body {
    background-color: rgb(17, 17, 39);
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-x: hidden;
    /* overflow: hidden; */
    /* overflow-y: hidden; */
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 900;
}

a .nav-link {
    font-size: 1rem;
    color: #fff;
}

.section1 {
    width: 100vw;
    height: 100vh;
}